{% extends "default.html" %}

{% block content %}
    <p>…is more Switzerland, less Wall Street.</p>
	<p><strong>Why:</strong> Conversations about new ideas are rarely formal enough to call for long, complicated NDAs. Most of the time, the notion of non-disclosure is friendly and implied. Thus, a friendly NDA.</p>
	<p><strong>Who:</strong> FrNDA is from <a href="http://nb.io/">NbIO</a>.</p>
	<p><strong>Help:</strong> <a href="http://getsatisfaction.com/frnda">&lt;3 Satisfaction</a>.
{% endblock %}
